.Login {
    margin: auto;
    margin-top: 25vh;
    box-shadow: 0px -2px 32px 10px rgba(59,59,59,0.41);
    -webkit-box-shadow: 0px -2px 32px 10px rgba(59,59,59,0.41);
    -moz-box-shadow: 0px -2px 32px 10px rgba(59,59,59,0.41);
    height: 50%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Login > h1 {
    margin-bottom: 5vh;
}
.Login > input {
    width: 50%;
    margin-top: 2vh;
    height: 5vh;
    border: 0;
    outline: none;
    padding-left: 10px;
    padding-right: 10px;
    direction: ltr;
    text-align: center;
}
.Login > input:focus {
    box-shadow: 0px 0px 23px 5px rgba(255,166,0,0.43);
    -webkit-box-shadow: 0px 0px 23px 5px rgba(255,166,0,0.43);
    -moz-box-shadow: 0px 0px 23px 5px rgba(255,166,0,0.43);
}
.Login > button {
    margin-top: 5vh;
    width: 25%;
    height: 5vh;
    background-color: rgba(255, 166, 0, 0.875);
    color: white;
    outline: none;
    border: 0;
    cursor: pointer;
}
.Orange {
    color:rgba(255, 166, 0, 0.875);
}